body{
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li {
    list-style-type: none;
    border: 2xp solid salmon;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    display: inline;
}
ul li:first-child, li:last-child{
    background-color: rebeccapurple;
}
ul li:nth-child(3){
    background-color: red;
}
ul li:nth-child(2n+1){
    background-color: yellow;
}
ul li:nth-child(even){
    background-color: pink;
}
ul li a{
    text-decoration: none;
    color: grey;
}
ul li a:first-child, li:last-child{
    color: darkgreen;
}
ul li a:hover{
    background-color: salmon;
    color: beige;
    padding: 0;
}

p::first-line{
    font-style: italic;
    color: coral;
}
p::first-letter{
    font-weight: bold;
    color: blueviolet;
}
