body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
    font-size: larger;
}
h1 {
    text-decoration: underline;
    color: violet;
}

p {
    border: 1px solid rebeccapurple;
    padding: 10px;
    margin: 50px;
}
h1 {
    text-decoration: underline;
    color: violet;
    border: 2px dashed;
}