p div {
    border: 1px solid gray;
}

pv {
    background-color: burlywood;
}

div {
    background-color: blueviolet;
    margin-bottom: 6px;
}
span{
    background-color: teal;
    color: whitesmoke;
    padding: 6px;
}
main{

}